#main {
    width: 100%;
    margin: 0 0;
}
#main .title {
    width: 80%;
    height: 80px;
    background: #f0ad4e;
    color: #3b7fc4;
    line-height: 80px;
    text-indent: 40px;
    font-size: 40px;
    font-weight: bold;
    margin: 0 10%;
}
#main a {
    color: #266aae;
}


#shoppingRecord .title {
    width: 80%;
    height: 80px;
    background: #f0ad4e;
    color: #3b7fc4;
    line-height: 80px;
    text-indent: 40px;
    font-size: 40px;
    font-weight: bold;
    margin: 0 10%;
}
#shoppingRecord a {
    color: #266aae;
}



#member {

}

.ID{
    font-size: large;
    color: black;
    font-weight: bolder;
}


table.list {
    margin-left: 8%;
}
table.list tr {
    height:60px;
    background:url(hr.png) 0px bottom repeat-x;
}
table.list tr th {
    padding-right:20px;
    font-size: large;
    text-align: center;
}
table.list tr td {
    padding-right:20px;
    text-align: left;
    margin-left: 8px;
}

table.ulist {
    margin-left: 5%;
}
table.ulist tr {
    height:40px;
    background:url(hr.png) 0px bottom repeat-x;
}
table.ulist tr th {
    font-size: large;
    text-align: center;
}
table.ulist tr td {
    text-align: left;
    margin: 18px;
    font-size: medium;
    font-weight: bold;
}


.pages_wrap_show {
    text-align: center;
    margin: 15px auto;
}
.pages_wrap .pages {
    float: right;
    margin-right: 140px;
    margin-top: 60px;
}
.pages a {
    display: inline-block;
    background: url(core_bg.png);
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    color: #666666;
    margin-right: 3px;
    padding: 6px 10px;
    line-height: 13px;
    cursor: pointer;
    vertical-align: top;
}
.pages a:hover {
    color: #fff;
    background: #488fcf;
}
.pages span {
    display: inline-block;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    color: #666666;
    margin-right: 3px;
    padding: 6px 10px;
    line-height: 13px;
    color: #fff;
    background: #488fcf;
}

.free_login {
    display: block;
    font-size: 14px;
    line-height: 25px;
    margin: 40px 358px 0 0;
    float: right;
}

.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.btn.focus,.btn:focus,.btn:hover{color:#333;text-decoration:none}.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn.disabled,.btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}a.btn.disabled,fieldset[disabled] a.btn{pointer-events:none}
.btn-default{color:#333;background-color:#fff;border-color:#ccc}.btn-default.focus,.btn-default:focus{color:#333;background-color:#e6e6e6;border-color:#8c8c8c}.btn-default:hover{color:#333;background-color:#e6e6e6;border-color:#adadad}.btn-default.active,.btn-default:active,.open>.dropdown-toggle.btn-default{color:#333;background-color:#e6e6e6;border-color:#adadad}.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.dropdown-toggle.btn-default.focus,.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:hover{color:#333;background-color:#d4d4d4;border-color:#8c8c8c}.btn-default.active,.btn-default:active,.open>.dropdown-toggle.btn-default{background-image:none}.btn-default.disabled.focus,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled].focus,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover{background-color:#fff;border-color:#ccc}.btn-default .badge{color:#fff;background-color:#333}

#section {
    border-top: black 1px solid;
}
#section .section_title {
    background-color: lightgrey;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px 9%
}